# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# UV file
uv.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.venv

# Ruff stuff:
.ruff_cache/

# Data Folder
data/
